body{
    width:600px;
    margin:0 auto;
}

#header{
    background-color:beige;
    padding: 10px;
    border-radius:3%;

    text-align:center;
    color:rgb(117, 117, 68);
    font-family:
}

#menu{
    border-bottom:1px solid rgb(186, 186, 186);
}

ul{
    text-align:center;
}
li{
    display:inline-block;
    padding:5px;
    color: rgb(55, 55, 55);
    text-decoration: underline dotted;
}

a{
    color: rgb(55, 55, 55);
    text-decoration: underline dotted;
}

#middle{
    text-align: center;
}

#image{
    height:300px;
    width:300px;
    margin:0 auto;
    border:1px solid black;

    border-radius: 50%;
    background-image: url("Christopher-Nolan.jpg");
    background-size:cover;
    background-position: center;
}

.section{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sub_head{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    font-weight: bold;
}

footer{
    text-align: center;
}